apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: secretstore
  namespace: todo-app
spec:
  type: secretstores.kubernetes
  version: v1
  metadata:
  - name: defaultNamespace
    value: "todo-app"
scopes:
- api-gateway
- task-service
- scheduler-service
- notification-service
